@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientMove {
 0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  background: linear-gradient(135deg, #5680E9, #84CEEB, #5AB9EA, #C1C8E4, #8860D0);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

}
